
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  background-image: url("https://i.pinimg.com/736x/d8/79/a5/d879a54a5fd876ad8def93385ca31a54.jpg");
}
nav {
  background-color: rgba(254, 123, 0, 0.979);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  flex-wrap: wrap;

}
nav > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav > div > img {
  height: 100px;
  border-radius: 100%;
}
h6 {
  font-family: "Chewy", system-ui;
  color: rgb(39, 110, 24);
  font-size: 2.5em;
  font-weight: 800;
  flex-wrap: wrap;
  width: 315px;
}
#nav2 {
}
ul {
  display: flex;
  gap: 40px;
}
li {
  color: aliceblue;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  padding: 0px 10px;
  font-size: 15px;
}
a {
  text-decoration: none;
}
li:hover {
  color: rgb(39, 110, 24);
  font-weight: 800;
  border-bottom: 3px solid  rgb(39, 110, 24);
}
main {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px;
  flex-wrap: wrap;
  gap: 25px;
}
#box1 {
  border-radius: 10%;
  height: 60%;
  width: 20%;
  background-color:  rgb(39, 110, 24);
}
#box1 > img {
  height: 70%;
  padding: 10px 20px;
  border-radius: 15%;
}
.text > h3 {
  font-size: 2em;
  margin-left: 80px;
  color: aliceblue;
}
.text > button {
  margin-left: 85px;
  padding: 10px;
  border-radius: 15px;
  font-weight: 700;
  box-sizing: border-box;
}
.text > button:hover {
  background-color: rgb(255, 155, 68);
  color: aliceblue;
}
#box2 {
  border-radius: 10%;
  height: 60%;
  width: 20%;
  background-color:  rgb(39, 110, 24);
}
#box2 > img {
  height: 70%;
  padding: 10px 10px;
  border-radius: 15%;
}
#box3 {
  border-radius: 10%;
  height: 60%;
  width: 20%;
  background-color:  rgb(39, 110, 24);
}
#box3 > img {
  height: 70%;
  padding: 10px 10px;
  border-radius: 15%;
}
#box4 {
  border-radius: 10%;
  height: 60%;
  width: 20%;
  background-color:  rgb(39, 110, 24);
}
#box4 > img {
  height: 70%;
  padding: 10px 28px;
  border-radius: 15%;
}